/*Generals*/
*{
  margin: auto;
  padding: auto;
}

body {
    color: black;
    background: #202f60;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
  text-decoration: none;
}
ul {
    list-style-type: none;
}
header {
  height: 100%;
}

/*Especific*/
#cabezal {
  width: 100%;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, RGB(66, 134, 244, 0.6), RGB(55, 59, 68, 0.6)), url("navBar.jpg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, RGB(66, 134, 244, 0.9), RGB(55, 59, 68, 0.9)), url("navBar.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 91%, 0% 100%);
}
.Nav-conteiner{
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
}
.links {
  padding-top: 10px;
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
.links a{
  color: black;
}
.item{
}
.cont-image{
  width: 100%;
  height: 580px;
}
#date{
  font-size: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
#name{
}
#name2{
  padding-top: 0px;
}
#pro{
  font-size: 50px;
  padding-top: 0px;
}
#IMGperfil{
  /**Clip-path: inset(20px 200px 0px 190px);**/
  width: 800px;
  height: 50%;
}
.ImagenNav{
  width: 100%;
}
#animated{
  height: 10px;
}
figcaption a{
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
figure{
  Background: red;
}
