.PieOfPage{
  background: rgba(54,49,51,1);
  height: 150px;
  text-decoration: none;
  color: white;
  padding-left: 51px;
  padding-right: 51px;
  font-size: 20px;
}
.Contacto, .listOfResource a{
  color: white;
  font-size: 20px

}
