.MyDominions{
  display: flex;
}
.txt2{
  padding: 50px;
}
.img2{
  border-radius: 50px;
  width: 500px;
  margin-right: 20px;
}
.text2{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
